@charset "utf-8";

nav.site_menu,
nav.page_menu {
    display: block;
    position: static;
    margin: 0;
    padding: 0;
}
nav.site_menu {
    width: auto;
}
nav.site_menu li {
    display: inline;
}
nav.site_menu li a {
    padding: 0 20px;
    display: inline-block;
}
ul.site_tools,
ul.user_tools {
    display: inline;
}

label.file_upload input[type="file"] {
    display: inline-block;
}